<section class="main">
  <div class="container mt-5">
    @if (images) {
    <ngb-carousel>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper carousel-item active main-item">
          <img [src]="images[0]" class="main-item-image card-img" alt="First slide" />
        </div>
        <div class="carousel-caption w-75 top-3 mt-md-4 text-black text-sm-center text-md-start">
          <h1 class="my-md-5 display-5 fw-bold text-black">Скидки на травянные чаи</h1>
          <p class="mb-5 fs-5 text-black">Узнай все подробности, заполнив заявку</p>
          <button type="button" class="btn btn-primary">Заполнить</button>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper carousel-item active no-image-background main-item bg-light">
          <img [src]="images[1]" alt="Second slide" />
        </div>
        <div class="carousel-caption w-75 text-sm-center text-md-start">
            <h2 class="mb-5 fw-bold display-5 text-black text-wrap">Закажи три пачки чая и получи подарок</h2>
            <a type="button" class="btn btn-primary" [routerLink]="'/catalogue'">К каталогу</a>
        </div>
      </ng-template>

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper carousel-item active main-item">
          <img [src]="images[2]" alt="Third slide" />
        </div>
        <div class="carousel-caption w-75 text-black text-sm-center text-md-start">
          <h2 class="mb-5 fw-bold display-5 text-black text-sm-center text-md-start">Попробуй нашу новинку
              — ягодный чай</h2>
            <button type="button" class="btn btn-primary" [routerLink]="'/catalogue'">К каталогу</button>
        </div>
      </ng-template>

    </ngb-carousel>
    }
  </div>
</section>

<section class="answer-questions">
  <div class="container">
    <h3 class="mt-5 mb-4 fw-bold fs-2 text-center text-black">Ответы на часто задаваемые вопросы</h3>
    <div class="container">
      <accordion></accordion>
    </div>
  </div>
</section>

<app-popup></app-popup>
