.main-item {
  height: 640px;
}

.main-item > div > h2 {
  max-width: 600px;
}

.main-item-image {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  right: 70%;
  bottom: 10.25rem;
  left: 10%;
}

.carousel-caption h2 {
  max-width: 700px;
}

.no-image-background img {
  position: relative;
  left: 55%;
  top: 10%;
  height: 80%;
}
