input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

select.ng-touched.ng-pristine {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.server-feedback {
  display: none;
}

