.product-image {
  text-decoration: none;
  max-width: 500px;
}

.product-image img {
  width: 100%;
}

.product-text {
  max-width: 650px;
}

@media screen and (max-width: 575px) {
    .product-item {
      width: 100%;
  }
}
