.accordion-item {
  margin-bottom: 0;
  border: 0;
}

.accordion-button::after {
  background-image: url("../../assets/images/chevron-down.svg");
  transform: rotate(0deg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../../assets/images/chevron-down.svg");
  transform: rotate(180deg);
}
