<div ngbAccordion class="accordion d-flex flex-column justify-content-center align-items-center mb-5">
  <div ngbAccordionItem class="accordion-item mb-3 w-75">
    <h3 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class="rounded bg-primary text-light fw-bold border border-0 p-3">
        Собираете ли вы подарочные боксы?
      </button>
    </h3>
    <div ngbAccordionCollapse class="accordion-collapse collapse">
      <div ngbAccordionBody class="accordion-body border border-0 text-black">
        <ng-template>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и
          стоимость!
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem class="accordion-item mb-3 w-75">
    <h3 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class=" rounded bg-primary text-light fw-bold border border-0 p-3">
        Сколько у вас разновидностей чая?
      </button>
    </h3>
    <div ngbAccordionCollapse class="accordion-collapse collapse">
      <div ngbAccordionBody class="accordion-body text-black">
        <ng-template>
          У нас представлен широкий ассортимент черного, зеленого, белого, желтого, каркаде, и
          фруктово-травяного чая, а также наборы ассорти и подарочные упаковки чая.
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem class="accordion-item mb-3 w-75">
    <h3 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class=" rounded bg-primary text-light fw-bold border border-0 p-3">
        В какой срок осуществляется доставка?
      </button>
    </h3>
    <div ngbAccordionCollapse class="accordion-collapse collapse">
      <div ngbAccordionBody class="accordion-body text-black">
        <ng-template>
          Доставка в день заказа для физических лиц! Чай всегда заканчивается неожиданно, поэтому мы
          осуществляем доставку в день заказа в пределах территории города Минска и 10 км. Заказали
          утром до 12 — после обеда заказ уже у вас! Бесплатная доставка при заказах от 50 рублей, при
          заказе от 20 до 50 рублей доставка стоит 8 рублей, при заказе до 20 рублей — 10 рублей.
          Возможна доставка почтой по Беларуси.
          Для юридических лиц доставка в течение 10 рабочих дней с момента получения Вашего заказа.
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem class="accordion-item mb-3 w-75">
    <h3 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class=" rounded bg-primary text-light fw-bold border border-0 p-3">
        У вас обновляется ассортимент?
      </button>
    </h3>
    <div ngbAccordionCollapse class="accordion-collapse collapse">
      <div ngbAccordionBody class="accordion-body text-black">
        <ng-template>
          Конечно! Обновление ассортимента осуществляется несколько раз в месяц по мере появления
          свежих сортов.
        </ng-template>
      </div>
    </div>
  </div>
  <div ngbAccordionItem class="accordion-item mb-3 w-75">
    <h3 ngbAccordionHeader class="accordion-header">
      <button ngbAccordionButton class=" rounded bg-primary text-light fw-bold border border-0 p-3">
        Какого объема у вас пачки чая?
      </button>
    </h3>
    <div ngbAccordionCollapse class="accordion-collapse collapse">
      <div ngbAccordionBody class="accordion-body text-black">
        <ng-template>
          У нас можно купить развесной чай в любом количестве! Вы можете выбрать
          подходящую фасовку из предложенных на сайте размерных категорий (маленькие – 100гр., средние
          — 250гр., большие — от 500гр. до 1кг) либо написать Ваши пожелания по фасовке в комментариях
          к заказу.
        </ng-template>
      </div>
    </div>
  </div>
</div>
