<header class="header bg-light sticky-top">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light py-2 bg-light text-sm-center d-flex justify-content-between align-items-center">
      <div class="container-fluid">
        <a class="navbar-brand logo" routerLink="">
          <img src="assets/images/logo.png" alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="catalogue" routerLinkActive="active">Каталог</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
