<section class="products text-black">
  <div class="container">
    <h3 class="my-sm-5 fw-bold fs-2 text-center">Наши чайные коллекции</h3>
    <div class="product-items d-flex flex-row justify-content-sm-center justify-content-lg-between align-items-sm-center flex-wrap">
      <div class="col product-item border rounded-1 mb-4">
<!--        <a class="product-image" href="assets/images/products/product1.png">-->
<!--          <img src="assets/images/products/product1.png" alt="Product one" class="wow animate__backInDown"-->
<!--               data-wow-duration="2s">-->
<!--        </a>-->
        <h5 class="product-title mt-3 mb-2 mx-4 fw-bold fs-5">Детокс чай лайм</h5>
        <p class="product-text mx-4 mb-4">Великолепный чай внесет в вашу жизнь яркие краски и вкус
          расслабления</p>
        <button type="button" class="btn btn-primary mb-4 mx-4">Подробнее</button>
      </div>
    </div>
  </div>
</section>
